<%- include( "header" ) -%>
<h1 class="my-5">
    Amazin
    <br />
    <small class="h4">The Awesome Online Store</small>
</h1>
<p>
    Welcome to Amazin. You can search through more than 2 crore products. If you cannot find something here, you cannot get it anywhere else!
</p>
<p>
    Author: Jenita
</p>
<p>
    Tech stack:
    <ul>
        <li>Node JS</li>
        <li>Express</li>
        <li>MongoDB using Mongoose</li>
        <li>EJS</li>
    </ul>
</p>
<%- include( "footer" ) -%>