<%- include("header") -%>
<h1 class="my-lg-5">WELCOME TO  BLOG</h1>


<img
  src="https://images.newscientist.com/wp-content/uploads/2022/01/20153739/PRI_219347237.jpg?width=600"
  alt=""
/>
<%- include("footer") -%>